
		<html>
		<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="applicable-device" content="pc,mobile">
		<link href="/favicon.ico" rel="shortcut icon"/>
		<title>支付体验中心-{:getConfig()['sitename']}</title>
		<script src="/static/index/js/index/jquery.min.js"></script>
<link rel="stylesheet" href="/static/index/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/static/index/css/demo.css"/>
<link rel="stylesheet" href="/static/index/css/m_reset.css"/>
		</head>
		<body>

		<div class="container">
		   <div class="row">

		    <div class="col-lg-12 col-sx-12">
		        <div class="head">
   <a href="/"><img src="{:getConfig()['logo']}" width="150px" alt=""/></a><span class="head-title">体验Demo</span>
   <span style="float: right"><a target="_blank" href="/User/Reg" >商户申请</a> | <a target="_blank" href="/">返回首页</a></span>

</div>
		              <div class="content">
		            <div class="content-head">
		                <div class="order">

		                <span class="sleft">支付成功！</span>
		                <span class="sright">感谢您使用{:getConfig()['sitename']}</span>
		            </div>
		            </div>

		            <div class="step step2">
		                <ul class="steps clearfix">
		                    <li>选择商品</li>
		                    <li >确认付款</li>
		                    <li class="active">下单成功</li>

		                </ul>
		            </div>
		        </div>
		           <div class="foot">
    <p> <span >{:getConfig()['copyright']}</span></p>
</div>    </div>

		</div>
		</div>
		</body>
		</html>
	