
 {include file="public/news_header" title="公告中心"/}
<!-- Sections:Start -->

 
    
    
    <!-- Popular Articles: Start -->
    <div class="help-center-popular-articles py-5">
                  <div class="container-xl">
                    <h4 class="text-center mt-2 mb-4">新 闻 资 讯</h4>
                    <div class="row">
                      <div class="col-lg-10 mx-auto">
                        <div class="row mb-3">
                          <div class="col-md-4 mb-md-0 mb-4">
                            <div class="card border shadow-none">
                              <div class="card-body text-center">
                                <img
                                  class="mb-3"
                                  src="/static/index/news/img/rocket.png"
                                  height="60"
                                  alt="Help center articles"
                                />
                                <h5>平 台 公 告</h5>
                                <p>更多活动/项目通知请点击这里查看!!!</p>
                                <a class="btn btn-label-primary" href="/News/Categories?type=1">点 击 查 看</a>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-4 mb-md-0 mb-4">
                            <div class="card border shadow-none">
                              <div class="card-body text-center">
                                <img
                                  class="mb-3"
                                  src="/static/index/news/img/cube-secondary.png"
                                  height="60"
                                  alt="Help center articles"
                                />
                                <h5>行 业 动 态</h5>
                                <p>你是否想了解关于更多本平台的相关动态?</p>
                                <a class="btn btn-label-primary" href="/News/Categories?type=2">点 击 查 看</a>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="card border shadow-none">
                              <div class="card-body text-center">
                                <img
                                  class="mb-3"
                                  src="/static/index/news/img/desktop.png"
                                  height="60"
                                  alt="Help center articles"
                                />
                                <h5>常 见 问 题</h5>
                                <p>有很多问题不知道怎么解决和处理?</p>
                                <a class="btn btn-label-primary" href="/News/Categories?type=3">点 击 查 看</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
    <!-- Popular Articles: End -->


    <!-- Help Area: Start -->
    <section class="section-py bg-body">
      <div class="container" style="margin-bottom: 60px;">
        <div class="row justify-content-center">
          <div class="col-md-8 col-lg-6 text-center">
            <h3>还需要帮助嘛?</h3>
            <p class="mb-3">
              我们的客服总是乐于提供帮助. 通过 <br />
                          联系方式在工作时间联系我们,
                          <br />
                          我们会给你回复的.
            </p>
            <div class="d-flex justify-content-center flex-wrap gap-3">
              <a href="/" class="btn btn-label-primary">访 问 首 页</a>
                          <a href="/User" class="btn btn-label-primary">立 即 登 录</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Help Area: End -->

    <!-- / Sections:End -->

  {include file="public/news_footer"/}        