
body {
	background: #f2f2f2;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.layui-header  {
    width: 100%;
    height: 90px;
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, .2);
}

.layui-header .logo {
    width: 210px;
    margin: 23px 0;
    float: left;
    font-weight: 500; 
}

.layui-header .logo span {
    margin-left: 10px;
}

.layui-header .logo .pic {
	width: 45px;
	margin-bottom: 5px;
}

.layui-header .title {
	position: absolute;
    top: 25px;
    left: 44%;
    height: 40px;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
}

.layui-content {
	padding: 71px 0px;
}

.layui-fixed {
    width: 80%;
    min-height: 436px;
    background-color: white;
    border: 1px solid #e1e1e1;
    margin: 0 auto;
    border-radius: 8px;
}

.layui-card-header {
	margin-bottom: 20px;
}

.layui-card-header span {
	font-size: 16px;
	color: #d1d1d1;
}

.layui-card-version {
    font-size: 13px;
    color: #d1d1d1;
    float: right;
}

.layui-btn-normal {
	background: #1890ff;
}

.layui-center {
	margin: 25px auto;
}

.layui-textarea {
	border: none;
}

.layui-step-group {
    width: 66%;
    margin: 0 auto;
    overflow: hidden;
}

.layui-step {
    width: 24%;
    height: 25px;
    text-align: center;
    margin: 20px 0;
    float: left;
}

.layui-step.layui-active .layui-sort {
    background-color: #1890ff;
}

.layui-step .layui-sort {
    width: 25px;
    height: 25px;
    color: white;
    line-height: 25px;
    text-align: center;
    font-size: 14px;
    border-radius: 50%;
    background-color: #d1d1d1;
    margin-right: 5px;
    display: inline-block;
}

.layui-step.layui-active .layui-desc {
    color: #1890ff;
}


.layui-step .layui-desc {
    height: 25px;
    line-height: 25px;
    display: inline-block;
    color: #d8d8d8;
}

.layui-step.layui-line {
    width: 10%;
    height: 2px;
    background-color: #d1d1d1;
    margin: 31px 2%;
}
.layui-step.layui-active.layui-line {
    background-color: #1890ff;
}


.layui-footer {
    position: fixed;
    right: 0;
	bottom: 0;
    height: 60px;
    line-height: 60px;
    padding: 0 15px;
    width: 100%;
    text-align: center;
    background-color: #eee;
}

.layui-table thead tr {
	color: #fff;
	border-radius: 5px;
	background: #1890ff;
}

.layui-table thead tr th {
	width: 33.33333%;
}

.dir {
	margin-top: 30px;
}

.dir thead tr {
	background: #2F4056;

}

.layui-table tr, layui-table tr td,.layui-table tr th {
	text-align: center;
}

.layui-icon-ok-circle {
	font-size: 18px;
	color: green;
}

.layui-icon-close-fill {
	color: red;
	font-size: 18px;
}

.layui-icon-face-smile {
	font-size: 30px;
	color: #1890ff;
	margin-bottom: 20px;
}

.layui-form[wid100] .layui-form-label {
	width: 100px;
}

.layui-anim {
    width: 150px;
    height: 150px;
    line-height: 150px;
    margin: 0 auto 10px;
    text-align: center;
    background-color: #1890ff;
    cursor: pointer;
    color: #fff;
    font-style: normal;
    border-radius: 50%;
}

.layui-install,.layui-complete {
	width: 68%;
	margin: 10px auto;
	margin-top: 5%;
	text-align: center;
}

.layui-install-logs {
	max-height: 320px;
	margin-top: 20px;
	text-align: left;
	overflow: auto;
}

.layui-install-logs li {
	height: 25px;
	line-height: 25px;
}

.layui-install .tips {
	font-size: 18px;
	margin-bottom: 15px;
}

.layui-center {
	text-align: center;
}

.layui-success {
	margin: 20px auto;
	font-size: 18px;
	margin-bottom: 35px;
}

.layui-footer{    
    position: revert;
    padding: 0px;
}

@media screen and (max-width: 600px) {
    .layui-header .title {
        left: 60%;
    }
    .layui-content {
    	padding-top: 30px;
    }
    .layui-fixed {
    	width: 100%;
    }
    .layui-step-group {
    	margin-bottom: 10px;
    }

    .layui-form[wid100] .layui-form-label {
    	width: 80px;
    }
}