
    <!-- Footer: Start -->
    <footer class="landing-footer bg-body footer-text" style="position: fixed;bottom: 0;width: 100%;">
      <div class="footer-bottom py-3" style="padding-bottom: 0rem !important;">
        <div
          class="container d-flex flex-wrap justify-content-between flex-md-row flex-column text-center text-md-start">
          <div class="mb-2 mb-md-0">
            <span class="footer-text"
              >©
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  , All rights reserved ❤️ by
                  <a href="/" target="_blank" class="footer-link fw-bolder">{:getConfig()['sitename']}</a> | <a class="footer-link fw-bolder" href="https://beian.miit.gov.cn"
										target="_blank" rel="noreferrer nofollow">{:getConfig()['icp']}</a></p>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer: End -->
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="https://open_hk1.ygit.net/static/index/user/assets/vendor/libs/popper/popper.js"></script>
    <script src="https://open_hk1.ygit.net/static/index/user/assets/vendor/js/bootstrap.js"></script>
    <!-- Main JS -->
    <script src="https://open_hk1.ygit.net/static/index/user/assets/js/front-main.js"></script>
    {:getConfig()['diy_js']}
    <!-- Page JS -->
  </body>
</html>
