{include file="public/header" title="找回密码"/}
								<!-- 找回密码框 -->
								<div class="mb-4 login-page-title">
									<p>找回您遗忘的密码</p>
								</div>
					<form id="formAuthentication" class="mb-3 layui-form">
								<div class="row">
								    {if condition="$config['retrieve-type'] == 1"}
								        <div class="mb-3">
    				                        <label class="form-label">手 机 号</label>
    				    <input
                            type="text"
                            class="form-control"
                            name="mobile"
                            id="mobile"
                            placeholder="请 输 入 您 的 手 机 号"
                            autofocus
                        />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">短 信 验 证 码</label>
                        <div class="input-group">
                            <input
                                type="text"
                                class="form-control"
                                name="captcha"
                                id = "numeral-mask"
                                placeholder="请 输 入 短 信 验 证 码"
                            />
                            <button class="btn btn-outline-secondary"
    														type="button" id="send-code">发送验证码</button>
                        </div>
                    </div>
								    {elseif condition="$config['retrieve-type'] == 2"}
									    <div class="mb-3">
    				    <label class="form-label">邮 箱</label>
    				    <input
                            type="email"
                            class="form-control"
                            name="email"
                            id="email"
                            placeholder="请 输 入 您 的 邮 箱"
                            autofocus
                        />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">邮 箱 验 证 码</label>
                        <div class="input-group">
                            <input
                                type="text"
                                class="form-control"
                                name="captcha"
                                id = "numeral-mask"
                                placeholder="请 输 入 邮 箱 验 证 码"
                            />
                            <button class="btn btn-outline-secondary"
    														type="button" id="send-code">发送验证码</button>
                        </div>
                    </div>
									{/if}
									
								<!--引入验证开始-->
                {include file="public/verification"/}
                <!--引入验证结束-->
									<div class="col-lg-12 mb-0">
										<button class="btn btn-primary w-100 go-rest-password" lay-filter="loginSubmit"
											lay-submit>立即找回密码</button>
									</div>
									<div class="col-12 text-center">
										<p class="mb-0 mt-3"><small class="mr-2">不想找回？</small> <a href="/User/Login"
												class="btn-link">立即登录</a>		
												</p>
									</div>
								</div>


								<!-- End Button -->
							</form>
							<!-- End Form -->
						</div>

					</div>
				</div>




			</main><!-- #main -->

		</div><!-- #page -->
		 <footer class="footer footer-bar" style="margin-top:-3%;">
    <div class="container text-center">
        <div class="row align-items-center">
            <div>
                <div class="text-sm-left">
                  <p class="mb-0">Copyright © <script>
                    document.write(new Date().getFullYear());
                  </script> <a href="/">{:getConfig()['sitename']}</a> - All
									rights reserved<span class="sep"> | </span><a href="https://beian.miit.gov.cn"
										target="_blank" rel="noreferrer nofollow">{:getConfig()['icp']}</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
		<!-- js部分 -->
		    <!-- Main JS -->
    <script src="/static/index/user/assets/js/main.js"></script>
     <script src="/static/component/layui/layui.js"></script>
    <script src="/static/component/pear/pear.js"></script>
        <!-- Other JS -->
    <script src="/static/index/user/assets/vendor/libs/cleavejs/cleave.js"></script>
    <script src="/static/index/user/assets/vendor/libs/cleavejs/cleave-phone.js"></script>
		<script>
			layui.use(['layer', 'form', 'formX'], function() {
				var $ = layui.jquery;
				var layer = layui.layer;
				var form = layui.form;
				var formX = layui.formX;
				
					//验证输入的验证码是否为数字
    const numeralMask = document.querySelector('#numeral-mask')
      //Numeral
    if (numeralMask) {
      new Cleave(numeralMask, {
        numeral: true,
        numeralThousandsGroupStyle: 'false'
      });
    }
				
				/* 表单提交 */
				form.on('submit(loginSubmit)', function(obj) {
					var loadIndex = layer.load(2);
					$.post('/User/LostPwd', obj.field, function(res) {
						layer.close(loadIndex);
						if (res.code === 200) {
							layer.msg('新密码为[123456],请及时登录用户中心修改!!!', {
								icon: 1,
								time: 5000
							}, function() {
								location.replace('/User/Login');
							});
						} else {
							layer.msg(res.msg, {
								icon: 2,
								anim: 6
							});
						}
					}, 'json');
					return false;
				});
				
				form.on('submit(qq_captcha_callback)', function() {

					// 定义回调函数
                 function callback(res) {
                    // 第一个参数传入回调结果，结果如下：
                    // ret         Int       验证结果，0：验证成功。2：用户主动关闭验证码。
                    // ticket      String    验证成功的票据，当且仅当 ret = 0 时 ticket 有值。
                    // CaptchaAppId       String    验证码应用ID。
                    // bizState    Any       自定义透传参数。
                    // randstr     String    本次验证的随机串，后续票据校验时需传递该参数。
                    // res（用户主动关闭验证码）= {ret: 2, ticket: null}
                    // res（验证成功） = {ret: 0, ticket: "String", randstr: "String"}
                    // res（请求验证码发生错误，验证码自动返回terror_前缀的容灾票据） = {ret: 0, ticket: "String", randstr: "String",  errorCode: Number, errorMessage: "String"}
                    // 此处代码仅为验证结果的展示示例，真实业务接入，建议基于ticket和errorCode情况做不同的业务处理
                    if (res.ret === 0) {
                        var loadIndex = layer.load(2);
                        $.post('/User/Captcha',res, function(res) {
                            layer.close(loadIndex);
						if (res.code == 200) {
	                       $('#tencentCaptcha').html('<button type="button" class="TencentCaptcha btn btn-light w-100 mb-3" id="TencentCaptcha" data-appid="{:$config['tencent_CaptchaAppId']}" data-cbfn="qq_aptcha_callback" disabled="disabled" style="background-color: rgb(139, 195, 74); color: rgb(255, 255, 255);"><i class="layui-icon layui-icon-ok"></i> &nbsp;验证通过</button>');
						}
					}, 'json');
					return false;
                        // // 复制结果至剪切板
                        // var str = '【randstr】->【' + res.randstr + '】      【ticket】->【' + res.ticket + '】';
                        // var ipt = document.createElement('input');
                        // ipt.value = str;
                        // document.body.appendChild(ipt);
                        // ipt.select();
                        // document.execCommand("Copy");
                        // document.body.removeChild(ipt);
                    }
            }

                // 定义验证码js加载错误处理函数
                function loadErrorCallback() {
                  var appid = ''
                   // 生成容灾票据或自行做其它处理
                  var ticket = 'terror_1001_' + appid + Math.floor(new Date().getTime() / 1000);
                  callback({
                    ret: 0,
                    randstr: '@'+ Math.random().toString(36).substr(2),
                    ticket,
                    errorCode: 1001,
                    errorMessage: 'jsload_error',
                  });
                }
                
                			 try {
                           // 生成一个验证码对象
                           // CaptchaAppId：登录验证码控制台，从【验证管理】页面进行查看。如果未创建过验证，请先新建验证。注意：不可使用客户端类型为小程序的CaptchaAppId，会导致数据统计错误。
                           //callback：定义的回调函数
                           var captcha = new TencentCaptcha('{:$config['tencent_CaptchaAppId']}', callback, {});
                           // 调用方法，显示验证码
                           captcha.show(); 
                     } catch (error) {
                     // 加载异常，调用验证码js加载错误处理函数
                           loadErrorCallback();
                    }  
				});
				
				{if condition="$config['captcha-type'] == '3' "}
				//极验行为验证
				initGeetest4({
                    captchaId: '{:$config['geetest_CaptchaAppId']}',
                },function (captcha) {
                    // captcha为验证码实例
                    captcha.appendTo("#geetest_captcha");// 调用appendTo将验证码插入到页的某一个元素中，这个元素用户可以自定义
                    captcha.onSuccess(function () {
                        var result = captcha.getValidate();
					   $.post('/User/Captcha', result , function(res) {
					           	console.log(res);
                         }).onError(function(){
                             //your code
                            });
                        });
                });
				{/if}
				
				// 获取验证码
				$('#send-code').click(function(data) {
					var email = $("#email").val();
					var mobile = $("#mobile").val();
					var type = "{:$config['retrieve-type']}";
					if(type==1){
                        if (mobile == null || mobile == "") {
                        layer.msg("请输入您的手机号", { icon: 2, anim: 6 });
                        f5Captcha();
                        return false;
                    }
                    }else{
                        if (email == null || email == "") {
                        layer.msg("请输入您的邮箱", { icon: 2, anim: 6 });
                        f5Captcha();
                        return false;
                    }
                    }
					//点击一次之后禁止继续点击
                $('#send-code').attr('disabled',"true");
					$.post('/User/getLostCode', {
						email: email,
						mobile: mobile
					}, function(res) {
						if (res.code === 200) {
							setTimeout(function() {
								formX.startTimer('#send-code', 60, function(t) {
									return '已发送(' + t + 's)';
								});
							}, 600);
							//倒计时结束之后恢复点击
                        $('#send-code').removeAttr("disabled");
							return false;
						} else {
							layer.msg(res.msg, {
								icon: 2,
								anim: 6
							});
							//返回信息后恢复点击
                        $('#send-code').removeAttr("disabled");
						}
					}, 'json');
					return false;
				});

				/* 图形验证码 */
				var captchaUrl = '/User/Verify';
				$('img.login-captcha').click(function() {
					this.src = captchaUrl + '?t=' + (new Date).getTime();
				}).trigger('click');

			});
		</script>
	</body>
</html>
