<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>YPay Admin</title>
    <link href="/favicon.ico" rel="icon">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="{:getConfig()['favicon']}" rel="icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- 依 赖 样 式-->
    <link rel="stylesheet" href="/static/component/pear/css/pear.css" type="text/css"/>
    <!-- 加 载 样 式-->
    <link rel="stylesheet" href="/static/admin/css/loader.css" type="text/css"/>
    <!-- 布 局 样 式 -->
    <link rel="stylesheet" href="/static/admin/css/admin.css" type="text/css"/>
    <!-- 表 单 样 式 -->
    <link rel="stylesheet" href="/static/admin/css/soulTable.css" type="text/css"/>
    
</head>

<body class="[type]">
