.header-drawer-container {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(247, 248, 252, 0.95);
  z-index: 998;
  -webkit-backdrop-filter: saturate(120%) blur(30px);
          backdrop-filter: saturate(120%) blur(30px);
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  height: 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          /*justify-content: center;*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.header-drawer-container .line-xipiden {
  width: 70%;
  max-width: 80%;
  background: rgba(0, 0, 0, 0.05);
  height: 1px;
}

.header-drawer-container .drawerLink-box {
  width: 100%;
  max-width: 100%;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: ease 0.1s;
  transition: ease 0.1s;
}

.header-drawer-container .drawerLink-box:hover {
  background: rgba(0, 0, 0, 0.05);
}

.header-drawer-container .drawerLink-box:hover p {
  color: #000000;
}

.header-drawer-container .drawerLink-box p {
  font-size: 17px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #4D4766;
}

.header-drawer-container .login:hover p {
  color: #5781FF;
}

.header-drawer-container .login p {
  color: rgba(0, 0, 0, 0.4);
  font-weight: 400;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.container-open {
  height: 100vh;
  max-height: 100vh;
  padding-top: 100px;
  overflow: auto;
  padding-bottom: 60px;
}

.header-container {
  width: 100vw;
  height: 80px;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: fixed;
  top: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 7.135417vw;
  z-index: 999;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
}

.header-container .links-drawer-box {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header-container .links-drawer-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header-container .links-drawer-box .drawer-line-top {
  width: 16px;
  height: 2px;
  background: #4D4766;
  margin: 3px;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}

.header-container .links-drawer-box .open-top {
  -webkit-transform: rotate(45deg) translateY(1.5px);
          transform: rotate(45deg) translateY(1.5px);
  margin: 0;
  width: 20px;
}

.header-container .links-drawer-box .drawer-line-bottom {
  width: 16px;
  height: 2px;
  background: #4D4766;
  margin: 3px;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.header-container .links-drawer-box .open-bottom {
  -webkit-transform: rotate(-45deg) translateY(-1.5px);
          transform: rotate(-45deg) translateY(-1.5px);
  margin: 0;
  width: 20px;
}

.header-title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-title {
  margin-left: 15px;
  font-size: 22px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
  margin-bottom: 3px;
  font-family: 'Noto Sans SC', sans-serif,'Noto Serif SC', serif;
  letter-spacing: 1px;
  display: none;
}

.header-logo {
  height: 30px;
  padding: 0;
  margin: 0;
}

.header-logo img {
  width: 106px;
  height: 100%;
}

.header-links-pallet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .header-links-pallet {
    display: none;
  }
}

.header-link-box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 20px;
  padding: 0 5px;
  height: 100%;
  font-size: 15px;
  font-weight: 400;
  font-family: "microsoft yahei";
  color: #999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  letter-spacing: 0.6px;
}

.header-link-box:hover {
  color: #4D4766;
}

.header-down-open {
  width: 11px;
  height: 6px;
  background: url(../images/header-down-open.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  margin-left: 8px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.header-link-box:hover .header-down-open {
  background: url(../images/header-down-open-hover.svg);
}

.header-drawer {
  position: relative;
  cursor: pointer;
}

.drawer-off {
  position: absolute;
  top: 108px;
  width: 180px;
  left: -100px;
  height: 0;
  padding: 0;
  overflow: hidden;
  /* display: none; */
  /* opacity: 0; */
}

/* .drawer-open{
	opacity: 1; height: auto; top: 75px; padding-top: 15px;
	transition: 0.3s ease;
} */
.header-resources-drawer-box {
  background: #322D47;
  border-radius: 5px;
  width: 100%;
  min-height: 50px;
  overflow: hidden;
}

.header-resources-drawer-pallet {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 180px;
  height: 50px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-family: PingFang SC;
}

.header-resources-drawer-pallet:hover {
  background: #4D4766;
  color: #FFFFFF;
}
